<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Certification\ Portfolio</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">

    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href= "../static/css/style.css">
    
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />


    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="../static/js/main.js"></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    
<main>
  <div class="container py-4">
    <nav class="navbar navbar-dark bg-dark justify-content-left nav-pills">
        <a class="navbar-brand align-items-left px-5" href="Home.html">
          <span class="">Himanshu Bisht > Certification & Patent</span>
        </a>
        <div class="social-links">
          <!-- <a href="bishth088@gmail.com" class="Gmail" ><i class="bi bi-google"></i></a> -->
          <a href="#" class="github"><i class="bi bi-github"></i></a>
          <a href="https://www.instagram.com/himanshu_bisht.01/" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/himanshu-bisht-261bb5185/" class="linkedin"><i class=" fas bi bi-linkedin"></i></a>
        </div>
      </nav>

    <h2 class = "Heading pt-3 m-3 fw-bold">Patent</h2>

    <div class="accordion accordion-flush pt-3 m-3" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone" aria-expanded="false" aria-controls="flush-collapseone">
            TOP LOADING STAPLER
          </button>
        </h2>
        <div id="flush-collapseone" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Patent or application number: IN 202011041590<br> Patent URL: <a href="Patent URL">https://ipindiaservices.gov.in/PublicSearch/PublicationSearch</a><br>Issue date: 10/16/2020<br>Description: Functionality of Top Loading Stapler</p>
            <p>Patent or application number: IN 335700-001<br> Patent URL: <a href="Patent URL">https://ipindiaservices.gov.in/designapplicationstatus/</a><br>Issue date: 7/16/2021<br>Description: Design Patent of Top Loading Stapler</p>
          </div>
        </div>
      </div>
      <div class="accordion-item pt-3">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwo" aria-expanded="false" aria-controls="flush-collapsetwo">
            Depth Thread Plug Gauge
          </button>
        </h2>
        <div id="flush-collapsetwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Patent or application number: IN 346385-001<br> Patent URL: <a href="Patent URL">https://ipindiaservices.gov.in/PublicSearch/PublicationSearch</a><br>Issue date: 9/13/2021<br>Description: The novelty resides in the Shape and Configuration of the “Depth Thread Plug Gauge”</p>
          </div>
        </div>
      </div>
    </div> 

    <h2 class = "Heading pt-3 m-3 fw-bold"> Certification</h2>

    <div class="accordion accordion-flush pt-3 m-3" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Introduction to Data Analytics
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Issuing organization: IBM| Coursera<br> Credential ID: 5KSTZVR6X72Z <br> Credential URL : <a href="Credential ID">https://coursera.org/verify/5KSTZVR6X72Z</a></p>
          </div>
        </div>
      </div>
      <div class="accordion-item pt-3">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Data Science Math Skills
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Issuing organization: Duke University | Coursera<br> Credential ID: 9SLPL77M8R4M <br> Credential URL : <a href="Credential ID">https://www.coursera.org/account/accomplishments/certificate/9SLPL77M8R4M</a></p>
          </div>
        </div>
      </div>
      <div class="accordion-item pt-3">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Data Analytics for Lean Six Sigma
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Issuing organization: University of Amsterdam | Coursera<br> Credential ID: JU5HB8N46BM2 <br> Credential URL : <a href="Credential ID">https://coursera.org/verify/JU5HB8N46BM2</a></p>
          </div>
        </div>
      </div>
      <div class="accordion-item pt-3">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            CSWA - Mechanical Design
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Issuing organization: Dassault Systèmes<br> Credential ID: C-7RW4FY8DMT <br></p>
          </div>
        </div>
      </div>
      <div class="accordion-item pt-3">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            CSWA - Additive Manufacturing
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Issuing organization: Dassault Systèmes<br> Credential ID: C-TQ87N36XUB<br></p>
          </div>
        </div>
      </div>
      <div class="accordion-item pt-3">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Innovation Through Design: Think, Make, Break, Repeat
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Issuing organization: The University of Sydney | Coursera<br> Credential ID: HN89GPY8KV7L <br> Credential URL : <a href="Credential ID">coursera.org/verify/HN89GPY8KV7L</a></p>
          </div>
        </div>
      </div>
      <div class="accordion-item pt-3">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Energy Production, Distribution & Safety
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Issuing organization: University at Buffalo | Coursera<br> Credential ID: 2N4TQ7D7N6YK <br> Credential URL : <a href="Credential ID">https://www.coursera.org/account/accomplishments/specialization/certificate/2N4TQ7D7N6YK</a></p>
          </div>
        </div>
      </div>
    </div>

  <footer id="footer" class="pt-3 mt-4 text-muted border-top">
      &copy; 2023
      
  </footer>
  </div>
</main>


    
  </body>
</html>
